*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	text-decoration: none;
	text-align: justify;
	list-style: none;
}

body {
	background-color: #F7F7F7;
}

.NavContainer{
	margin: auto;
	max-width: 1200px;

	display: flex;
	flex-flow: column wrap;
	align-items: center;
}

.container2{
	margin: auto;
	max-width: 1200px;

	display: flex;
	flex-flow: column wrap; 
}

.FooterContainer{
	margin: auto;
	max-width: 1200px;

	display: flex;
	flex-flow: column wrap;
	align-items: center;
	align-content: space-around;
}


#NavMenu{
	text-align: center;
	background-color: #E0E0E0;
	padding: 0.5em 0em 0.5em 0em;
	text-transform: uppercase;

}

#NavMenu a{
	color: black;
	text-decoration: none;
}

#NavMenu li {
 	display: inline;
 	padding-right: 3em
}

#content{
	background-color: white;
	padding: 1em 0 1em 0;

}

#content p{
	padding: 0em 1em 0 1em;
}

#FooterBar{
	padding: 2em 0 2em 0;
	background-color: grey;
	color: #D7D7D7;
	text-align: center;

}

#FooterBar a{
	text-decoration: none;
	color: #D7D7D7;
	padding: 0em 1em 0em 1em
}

#FooterBar li {
 	display: inline;

}

#FooterBar p {
	text-align: center;
	font-size: 0.7em;
	color: #A7A7A7;
}

a:hover{
	font-weight: bold;
}