*{
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	text-decoration: none;
	text-align: justify;
	list-style: none;
}

body {
	background-color: #F7F7F7;
}

.container1{
	margin: auto;
	max-width: 1600px;
	width: 100%

	display: flex;
	flex-flow: row wrap;
}

.container2{
	margin: auto;
	max-width: 1200px;
	width: 100%

	display: flex;
	flex-flow: row wrap;
}

header{
	background-color: #E0E0E0;
	padding: 1em 0 1em 0;

	flex-basis: 100%;
}

header nav{
	text-align: center;
	background-color: #E0E0E0;
	padding: 0.5em 8em 0.5em 8em;
	text-transform: uppercase;

	flex-basis: 100%;
}

header nav a{
	color: black;
	text-decoration: none;
}

ul#menu li {
 	display: inline;
 	padding-right: 3em
}

section{
	background-color: white;
	padding: 1em;

	flex-basis: 100%;	
}

footer{
	padding: 1em;
	background-color: grey;
	color: #D7D7D7;
	justify-content: center;
}

footer a{
	text-decoration: none;
	color: #D7D7D7;
	padding-right: 3em

}

ul#footer li {
 	display: inline;
}
